.Item {
    margin: 5px 0;
}

.DeleteButton {
    color: rgb(180, 0, 0);
    margin-right: 5px;
    background: none;
    border: none;
    cursor:  pointer;
    outline: none;
    font-weight: bold;
}

.DeleteButton:hover {
    color: rgb(250, 0, 0);
}