/* Notification component overrides */

.notifications-component {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding-bottom: 50px;
  }
  
  .notification__content {
    padding: 20px !important;
  }
  
  